.container {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.media {
  display: grid;
}

#video,
#canvas {
  grid-column: 1;
  grid-row: 1;
}

.gestures {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gestures>li {
  font-size: 2em;
  font-weight: bold;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
}

.gestures>.active {
  background-color: #31748f;
  color: #fffaf3;
}

.gestures>.pause {
  background-color: #eb6f92;
}
